.navbar-right { left: -21px; } /* Fix for no home button in nav */

a { color: black; }

.home-container {
	padding: 0 3px;
}



.front-page-section {
	margin: 24px 0 0 0;
}

/*.front-page-section,*/
.front-page-column {
	padding: 0 12px;
}

h2.section-header {
	padding: 5px 8px 4px;
	padding: 9px 8px 12px;
	border-top-right-radius: 11px;
	border-top-left-radius: 11px;
	margin: 0 0 0px;
	display: inline-block;
	font-size: 1.8em;
	width: 100%;
	border-bottom: solid 6px #ff9600;
}

.more-info-ellipsis-icon {
	font-size: .7em;
	background: black;
	color: white;
	border-radius: 100% !important;
}

h2.section-header .icon-stack {
	font-size: .6em;
	position: relative;
	bottom: 2px;
}

h2.section-header .icon-stack .ellipsis {
/*	position: relative;
	bottom: 4px;*/
}

.section-more-info {
	font-size: .9em;
	color: rgb(185,185,185);
}

h2:hover.section-header .section-more-info {
	
}

.prominent-post-link {
	display: block;
	padding-bottom: 6px;
}

h3.prominent-post-title {
	font-size: 2.4em;
	margin: 0;
	padding: 5px;
}

h4.description {
	font-style: italic;
	font-size: 15px;
	margin: 0 0 3px;
}

h4.category.description {
	margin: 0 0 6px;
}

h4.prominent-post.description {
	margin: 0 0 3px;
}

h5.small-post-title {
	font-size: 16px;
	margin: 0;
	padding: 6px 5px;
}

h5.small-post-title, h6 {
	border-top: solid 1px rgb(225,225,225);
}

.small-post-link {
	display: block;
}

/*.small-post-link:nth-child(odd) {
	background: rgba(0,0,0,.1);
}*/

.prominent-post-link:hover,
.small-post-link:hover {
	background: rgb(225,225,225);
}

h6 {
	text-transform: uppercase;
	padding: 9px 5px 7px 5px;
	margin: 0;
	background: rgb(250,250,250);
	color: black;
}

section .section-inner {
	margin: 0 0px;
	padding: 6px;
}

section.front-page-section .section-inner {
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
}

.small-post-link:last-of-type {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

/*section.front-page-section:last-child {
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}*/





@media (min-width: 768px) {
    
    .navbar-collapse .nav {
		position: relative;
		left: 17px;
	}

}

@media (min-width: 992px) { /* col-md */

}

@media (max-width: 768px) and (min-width: 481px)  {

}






.feat-section-inner, .feat-image {
	position: relative;
}

.feat-section-inner {
	height: 412px;
	color: white;
}

/*a.feat-retrospective {
	display: block;
}*/

.feat-rs .feat-image {
	height: 100%;
	float: left;
	width: 75%;
}

.feat-rs .color-block {
	height: 100%;
	float: left;
	width: 25%;
	background: #ff9600;
}

.feat-rs .color-triangle {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	z-index: 10;

	height: 0;
	border-style: solid;
	border-width: 0 220px 400px 0;
	border-color: transparent #ff9600 transparent transparent;
	line-height: 0px;
	_border-color: #000000 #007bff #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.feat-rs .text-block {
	position: absolute;
	height: 100%;
	top: 15px;
	right: 24px;
	z-index: 11;
	color: white;
	line-height: 1em;
	text-align: right;
	text-transform: uppercase;
}

.feat-rs h2.category-header {
	font-size: 4.3em;
	margin: 0 0 10px;
	padding: 0;
}

.feat-rs h3.post-title {
	margin: 0 0 10px;
	padding: 0;
	font-size: 2.4em;
}

.feat-rs h4.feat-excerpt {
	width: 25%;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	padding: 0 30px 30px 0px;
	margin: 0;
}








.feat-twtw .feat-image {
	height: 100%;
	float: left;
	width: 65%;
}

.feat-twtw .color-triangle {
	position: absolute;
	bottom: 15px;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 45px 50px 45px 0;
	border-color: transparent #3293fa transparent transparent;
}

.feat-twtw .text-block {
	position: relative;
	height: 100%;
	float: left;
	width: 35%;
	background: #3293fa;
	padding: 15px;
}

.feat-twtw .text-block-inner {
	position: relative;
	height: 100%;
}

.feat-twtw h2.category-header {
	font-size: 3em;
	margin: 0 0 10px;
	padding: 0;
	text-align: right;
}

.feat-twtw h3.post-title {
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-align: right;

	position: absolute;
	bottom: 0;
	right: 0;
}








.feat-mix .feat-image {
	height: 100%;
	width: 100%;
}

.feat-mix .color-square {
	position: absolute;
	width: 80px;
	height: 80px;
	background: rgba(0, 237, 198,.8);
}

.feat-mix .color-square.top-right {
	top: 80px;
	right: 0;
}

.feat-mix .color-square.bottom-right {
	bottom: 80px;
	right: 0;
}

.feat-mix .color-square.left-one {
	top: 80px;
	left: 0;
}

.feat-mix .color-square.left-two {
	bottom: 80px;
	left: 0;
}

.feat-mix .color-square.top-left {
	top: 0;
	left: 80px;
}

.feat-mix .color-square.bottom-left {
	bottom: 0;
	left: 80px;
}

.feat-mix .color-square.mid-left {
	top: 50%;
	left: 80px;
	margin-top: -40px;
}

.feat-mix .text-block {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 25%;
	background: rgba(0, 237, 198,.8);
	padding: 15px;
	margin: 6px 6px 24px 6px;
}

.feat-mix .text-block-inner {
	position: relative;
	height: 100%;
}

.feat-mix h2.category-header {
	font-size: 3em;
	margin: 0 0 10px;
	padding: 0;
	text-align: right;
}

.feat-mix h3.post-title {
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-align: right;

	position: absolute;
	bottom: 0;
	right: 0;
}











#carousel-controls-inner {
	position: relative;
	display: inline-block;
	padding: 3px 6px 8px 10px;
}

#carousel-controls .buttons-wrapper {
	display: inline-block;
}

/*#carousel-controls-inner i {
	padding: 0 3px;
}*/

#carousel-controls .border-triangle {
	position: absolute;
	top: 0;
}

#carousel-controls #left-border-triangle {
	left: -31px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 31px 31px 0;
	border-color: transparent #2a2a2a transparent transparent;
}

#carousel-controls #right-border-triangle {
	right: -31px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 31px 31px 0 0;
	border-color: #2a2a2a transparent transparent transparent;
}

.carousel-control-button {
	display: inline-block;
	padding: 0 2px;
}







.tooltip.bottom {
  padding: 5px 0;
  margin-top: 1px;
}





